


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

img {
 display: block;
 margin: 1rem auto;
 max-width: 100px; 
 border-radius: 2 rem;
}

